WorkingDir=.dev/profiler-tests
BranchName=release
ProfilerPath=../../../../../release/.tmp/DebugUnix/profiler
ProfilerDownloadUrl=
HarnessPath=../../../../Carbon.Profiler.Tests.Harness/bin/DebugUnix/net48/Carbon.Profiler.Tests.Harness.dll
SkipRustServerIfPresent=true
NoRustServerRun=false
#ServerTimeoutMs=180000
