[submodule "src/Carbon.Native"]
	path = src/Carbon.Native
	url = https://github.com/CarbonCommunity/Carbon.Native.git
[submodule "tools/depot"]
	path = tools/depot
	url = https://github.com/CarbonCommunity/Carbon.Depot.git
