WorkingDir=.dev
BranchName=public
CarbonDownloadZipUrl=https://github.com/CarbonCommunity/Carbon/releases/download/edge_build/Carbon.Windows.Debug.zip

# Skip Depot Downloader hit if Rust server is already present
ForDebug__SkipRustServerIfPresent=false

# Skip Rust server run at all
ForDebug__NoRustServerRun=false

# Skip Carbon if the directory is already present
ForDebug__SkipCarbonIfPresent=false
