WorkingDir=.dev
BranchName=public
CarbonDownloadZipUrl=https://github.com/CarbonCommunity/Carbon/releases/download/edge_build/Carbon.Windows.Debug.zip

ForDebug__SkipRustServerIfPresent=false
ForDebug__NoRustServerRun=false
ForDebug__SkipCarbonIfPresent=false

Tests__NoHooks=false
Tests__NoLogging=false
Tests__NoPermission=false
Tests__NoPermissionSqlMigration=false
Tests__NoProfiler=false
Tests__NoWebRequest=false
